:root {
    /* colors */
    --light-grayish-blue: hsl(220, 16%, 96%);
    --light-gray:         hsl(0, 0%, 98%);
    --gray-blue:          hsl(233, 8%, 62%);
    --lime:               hsl(136, 65%, 51%);
    --dark-blue:          hsl(233, 26%, 24%);
    --white:              hsl(0, 0%, 100%);





    /* spicing */
    --px: 20px;
}






    /* reset */
*, *::before, *::after {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border:     none;
    background: none;
    font:       inherit;
    cursor:     pointer;
}
html {
    font-family: 'Public sans', sans-serif;
    scroll-behavior: smooth;
}
img, span, svg {
    display: block;
}










    /* header */

.container-class {
    max-width: 1440px;
    margin: auto;
}
header {
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.navbar-class {
    background: var(--white);
    display:         flex;
    justify-content: space-between;
    padding: 20px var(--px);
}

.btn-navbar-class {
    display:        flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 20px;
}
.btn-navbar-class span {
    display: block;
    background: var(--dark-blue);
    width: 25px;
    height: 1px;
    transition: 0.25s ease;
}
.btn-navbar-class.active .one {
    transform: rotate(45deg) translateY(3px);
}

.btn-navbar-class.active .two {
    display: none;
}

.btn-navbar-class.active .three {
    transform: rotate(-45deg) translateY(-3px);
}

.list-navbar-class {
    position: fixed;
    background: var(--white);
    top:   60px;
    left:  20px;
    right: 20px;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    gap: 20px;
    padding: 40px 0;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
}

.list-navbar-class a {
    color: var(--dark-blue);
    display: block;
}

.list-navbar-class.active {
    top: calc(60px + 20px);
    opacity: 1;
    box-shadow: 0 0 100px 100px hsla(233, 26%, 24%, 0.2);
    pointer-events: all;
}





    /* Main */
main {
    overflow: hidden;
}

.main-container-class {
    background: var(--light-gray);
    padding-bottom: 60px;
}

.main-section {
    display:         flex;
    flex: 1;
    flex-direction:  column;
    justify-content: center;
    align-content:   center;
}

.image-main-container-class {
    display:    flex;
    align-self: center;
    background-size: cover;
    margin-bottom: 40px;
}

.main-image-class {
    margin-top: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: bottom;
}

.main-title {
    font-size: 38px;
    font-weight: 400;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.main-position {
    margin: auto;
    color: rgba(39, 75, 105, 0.79);
    text-align: center;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 30px;
    padding: 0 20px;
}

.main-text {
    margin: auto;
    color: rgba(18, 35, 49, 0.79);
    text-align: center;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 30px;
    padding: 0 20px;
}

.main-contact-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background: var(--light-gray);
    text-align: center;
    padding: 20px;
}
.contact-button p {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgba(39, 75, 105, 0.79);
    display: block;
}

.main-contact-list {
    color: rgba(39, 75, 105, 0.79);
    background: var(--light-gray);
    text-align: center;
    line-height: 2;
}



    /* About me */
#projects {
    display: none;
}
.about-me-container-class {
    display: grid;
    grid-template-columns: 1fr;
}
.project-class {
    padding: 60px var(--px);
    background: var(--light-grayish-blue);
    display:        flex;
    flex-direction: column;
    gap: 15px;
}
.section-class {
    padding: 60px var(--px);
    background: var(--light-grayish-blue);
    display:        flex;
    flex-direction: column;
    gap: 15px;
}
.project-class ul li {
    list-style: circle;
}
.section-class ul li {
    list-style: circle;
    color: var(--dark-blue);
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px;
}

.section-title-class {
    color: var(--dark-blue);
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

.section-text-class {
    color: var(--dark-blue);
    font-size: 15px;
    line-height: 1.7;
    text-align: left;
    margin-bottom: 50px;
}
.section-icon {
    align-self: center;
    width: 40px;
    height: 40px;
}
.footer-section-class {
    background-color: #274b69;
    display:         flex;
    justify-content: center;
    align-items:     center;
    flex-direction:  column;
    text-align: center;
    padding: 40px var(--px);
}



/* Responsive */
    @media (min-width: 1150px) {
        :root {
            --px: 120px;
        }


        /*navigation*/
        header {
            position: static;
        }

        .navbar-class {
            display: flex;
            padding: 0 20px 0 20px;
        }

        .navbar-class img {
            align-self: center;
            justify-self: center;
        }

        .btn-navbar-class {
            display: none;
        }

        .list-navbar-class {
            position: static;
            margin-left: 100px;
            padding: 0;
            z-index: 0;
            flex-direction: row;
            gap: 5px;
            opacity: 1;
            pointer-events: all;
        }

        .list-navbar-class a {
            font-size: 20px;
            text-align: center;
            color: var(--gray-blue);
            padding: 30px 20px;
            transition: 0.25s ease;
        }

        .list-navbar-class a:hover {
            color: var(--dark-blue);
            box-shadow: inset 0 -3px 0 var(--lime);
        }

        .navbar-class {
            font-size: 30px;
        }

        /*main*/
        .main-section {
            padding-left: 20px;
            display: flex;
            gap: 50px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .main-image-class {
            margin-top: 0;
        }
        .main-title {
            font-size: 50px;
        }

        .main-position {
            margin-left: 0;
            font-size: 40px;
        }

        .main-information-container-class {
            display: flex;
            max-width: 700px;
            flex-direction: column;
            align-items: flex-start;
        }
        .main-information-container-class p {
            padding: 0 20px;
        }
        .main-information-container-class h2 {
            margin-bottom: 5px;
        }
        .main-contact-container {
            font-size: 16px;
        }

        /*about me*/
        .about-me-container-class {
            font-size: 18px;
        }
        #projects {
            display: flex;
        }
        .project-class {
            margin: 120px 0;
        }
        .cards {
            position: relative;
            display: flex;
            padding-top: 60px;
            height: 400px;
        }

        .card {
            position: relative;
            top: -4em;
            left: 10em;
        }

        .card-image {
            margin-left: -40px;
            margin-top: 50px;
            position: absolute;
            max-width: 700px;
            opacity: 0;
            z-index: 9999;
        }
        .card-image.active {
            opacity: 1;
        }

        /*links*/
        .overlays {
            position: relative;
            margin-left: -100px;
            width: 60rem;
            height: 18em;
        }
        .overlays a {
            align-self: flex-end;
            margin: 0 0 20px 20px;
        }
        .button {

            color: white;
            background: black;
            border: #ffffff solid 1px;
            text-align: center;
            width: 200px;
            cursor: pointer;
            font-size: 20px;
            line-height: 50px;
            transition: 0.3s ease;
            height: 55px;
        }
        .button:hover {
            background: white;
            color: black;
            border: black solid 1px;
        }
        .bar {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--bar-color);
            transform-origin: left;
        }
        .description {
            color: var(--gray-blue);
            line-height: 2rem;
            position: absolute;
            opacity: 0;
            margin-left: -85px;
            padding-right: 100px;
            max-width: 1040px;
            align-self: flex-start;
        }
        .description.active{
            opacity: 1;
        }
        /*links*/
        .nav-links {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 30px;
            align-items: flex-start;
            max-width: 500px;
            padding: 0 0 0 6em;
            list-style-type: none;
        }
        .nav-link {
            cursor: pointer;
            font-size: 1rem;
            line-height: 2;
            text-decoration: none;
            color: var(--gray-blue);
            transition: 0.3s;
        }

        .nav-link:hover {
         color: var(--dark-blue);
        }

        .nav-link.active {
         color: var(--dark-blue);
         pointer-events: none;
        }
        .information {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .section-class h2 {
            font-size: 30px;
        }

        .footer-section-class {
            background-color: #274b69;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            text-align: center;
            padding: 20px var(--px);
        }
    }


