/* colors */
$light-grayish-blue: hsl(220, 16%, 96%);
$light-gray:         hsl(0, 0%, 98%);
$gray-blue:          hsl(233, 8%, 62%);
$lime:               hsl(136, 65%, 51%);
$dark-blue:          hsl(233, 26%, 24%);
$white:              hsl(0, 0%, 100%);

/* spicing */
$px: 120px;

/* screen-width */
$content-width:  1200px;
$laptop-width:   1024px;
$tablet-width:   767px;